html,
body,

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --Questrial: Questrial, sans-serif;

  --headlineBig: clamp(5rem, 9.5vw, 9rem);
  --headlineMediumBig: clamp(4rem, 8vw, 13rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.8rem, 1.2vw, 1.5rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
  
}

body {
  background-color: var(--backgroundColor);
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  text-transform: uppercase;
  color: var(--primaryColor);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.title {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: clamp(5rem, 9.9vw, 10rem);
  color: var(--primaryTextColor);
  
}

.paragraph {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2rem;
  font-family: var(--Questrial);
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--primaryTextColor);
}

.contact {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: clamp(4rem, 8vw, 8rem);
  color: white;
  padding-bottom: 4vw;
  padding-top: 4vw;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.button {
  display: flex;
  padding-left: 45vw;
  padding-right: 45vw;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.projects {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4vw;
  padding-top: 4vw;
}

.carouselImage {
  border-radius: 15px;
  width: 80%;
  height: 80%;
  object-fit: fill;
}

.carousel {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}