.projects {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
  .title {
    font-family:var(--Questrial);
    font-size: clamp(5rem, 8vw, 10rem);
    color: var(--primaryTextColor);
    padding-bottom: 50px;
    text-align: center;
}

.body {
    padding: 0;
}

.itemTitle {
    font-family:var(--Questrial);
    font-size: clamp(1rem, 9.5vw, 2rem);
}

.itemPrice {
    font-family:var(--Questrial);
    font-size: clamp(1rem, 9.5vw, 2rem);
    color: #ccc;
}

.modal {
    min-height: 800px;
}

.modalHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
}

.modalHeaderText {
    font-family:var(--Questrial);
    font-size: clamp(1rem, 9.5vw, 2rem);
}

.modalText {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 18px;
    text-align: center;
}

.modalImage {
    width: 100%;
    height: auto;
}

.cardGrid {
    width: 50vw;
    max-width: 700px;
}

.card {
    background: white;
    padding: 3rem 5rem;
}

.card p {
    padding-top: 1rem;
}

.img {
    width: 100%;
}

.iconList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconItem {
    padding-inline: 5px;
}

@media (max-width: 768px) {
    .cardGrid {
        width: 60vw;
    }
    .title {
        font-family:var(--Questrial);
        font-size: clamp(5rem, 8vw, 6rem);
        color: var(--primaryTextColor);
        padding-bottom: 50px;
        text-align: center;
    }
  }